<div class="container">
    <div class="starter-template">
        <h1>Wait and Eat</h1>
        <p class="lead">The smart restaurant waiting list.</p>
        <button type="button" class="btn btn-primary btn-lg">Get started now!</button>
        <div class="row">
            <div class="col-md-4">
                <h2>Ditch the clipboard</h2>
                <p>Use this simple app to manage the waiting list from your computer, tablet, or smart-phone.</p>
            </div>
            <div class="col-md-4">
                <h2>Get your voice back</h2>
                <p>No need to yell out names anymore. You can text a party with a simple tap.</p>
            </div>
            <div class="col-md-4">
                <h2>Customers will love you</h2>
                <p>They can visit the restroom and still know when their table is ready.</p>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->